<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="../public/css/adminLogin.css">
    <link rel="icon shorcut" href="../public/img/sol y luna_Mesa de trabajo 1.ico">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOL Y LUNA</title>
</head>
<body>
    <div class="box">
        <span class="borderline"></span> 
        <form action="/register" method="post">
            <h2>LOG IN</h2>
            <div class="inputbox">
                <input type="text" name="Username" autocomplete="off" required="required">
                <span>Username</span>
                <i></i>
            </div>
            <div class="inputbox">
                <input type="password" name="Password" autocomplete="off" required="required">
                <span>Password</span>
                <i></i>
            </div>
            <div class="links">
                <a href="/">INICIO</a>
                <a href="carrito">SIGNIN</a>
            </div>
            <input type="submit" value="Login">
        </form>
    </div>
</body>
</html>