<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="../../public/css/all.css">
    <link rel="shortcut icon" href="../../public/img/sol y luna_Mesa de trabajo 1.ico">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOL Y LUNA</title>
</head>
<body>
    <header id="encabezado">
        <strong id="name">
            <p>SOL Y LUNA</p>
            <nav>
                <a class="hipervinculo" href="/catalogo">catalogo</a>
                <a class="hipervinculo" href="/admin">admin</a>
                <a class="hipervinculo" href="/">inicio</a>
            </nav>
        </strong>
        <div id="icon">
            <img src="../public/img/sol y luna_Mesa de trabajo 1.ico" class="img">
        </div>
        <div id="redes">
            <strong><a href="https://wa.me/573133707425">WHATSAPP</a></strong>
            <strong><a href="https://www.facebook.com/SolyLunaTiendaVirtual">FACEBOOK</a></strong>
            <strong><a href="https://www.instagram.com/solyluna2504/">INSTAGRAM</a></strong>
        </div>
    </header>